Makefile_local

sim_lib/
sim/
db/
incremental_db/
output_files/
veri/
modelsim.ini
*.bak
*.rpt
wlft*
wave.do
transcript

filelist.qsf
DE0_Nano_assignment_defaults.qdf
greybox_tmp/
*.qws
*.sh
*.vstf

.vscode/
